@import 'variables.scss';
@import 'mixins.scss';

* {
  margin: 0;
	padding: 0;
	border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 0;

  h1 {
    margin: 0 0 5% 0;
    color: #282828;
    font-family: $font-exo;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.6px;

    span {
      color: red;
      letter-spacing: 3px;
    }
  }

  h3 {
    color: #ff6d6d;
    font-family: $font-exo;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }

  p {
    opacity: 0.66;
    color: #282828;
    font-family: $font-exo;
    font-size: 0.4rem;
    font-weight: 500;
    letter-spacing: 0.64px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-image: url("../imgs/main-pic.png");
  background-repeat: no-repeat;
  background-size: 768px auto;

  &__capture {
    margin: 5% 5%;
    font-size: 1.5rem;
    color: #282828;
    font-family: $font-exo;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
  }

  &__btn {
    height: 30px;
    width: 30px;
    margin: 3% 0;
    color: white;
    border-radius: 50%;
    background-color: #323969;
    
    i {
      padding: 5px 3px 5px 5px;
    }
  }

  &__btn-red {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #ff6d6d;
    font-size: 0.5rem;
    color: #ffffff;
    font-family: $font-exo;
    text-transform: uppercase;
  }

  &__description {
    margin: 3% 10% 5%;
    font-size: 0.4rem;
    opacity: 0.6;
    color: #282828;
    font-family: $font-exo;
    font-weight: 400;
    letter-spacing: 0.56px;
  }

}

.first__section {
  position: relative;

  &__main {
    position: absolute;
    z-index: 1;
  }
      
  &__rectangles--grey {
    position: absolute;
    z-index: -2;
    display: none;
  }
      
  &__rectangles--red {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.article-simple {
  text-align: center;
  margin: 5%;

  h1 {
    color: #ffffff;
    font-family: $font-exo;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 0.88px;  
  }
  
  h2 {
    color: #282828;
    font-family: $font-exo;
    font-weight: 500;
    font-size: 1rem;
    margin: 3%;
  }

  h3 {
    color: #ff6d6d;
    font-family: $font-exo;
    font-size: .7rem;
    font-weight: 500;
  }

  p {
    opacity: 0.66;
    color: #282828;
    font-family: $font-exo;
    font-weight: 500;
    font-size: 0.6rem
  }

  img {
    width: 40px;
  }
}

.second__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f5f3;
  text-align: center;
  z-index: 1;

  &--pen-holder {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 20px;
    z-index: -1;
  }

  &--earphones {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: -1;
  }

  &--coffee {
    display: none;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f6f5f3;
  }
}

.third__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  &__imgs {
    display: flex;
    justify-content: center;
  }

  &__imgs--rectangle {
    position: absolute;
    left: -1450px;
    z-index: -1;
  }

  &__imgs--mac {
      align-content: center;
      margin: 20px;
      margin-bottom: 0;
      width: 100%;
  }
}

.fourth__section {
  display: flex;
  flex-direction: column;
  background-image: url(../imgs/bkground.png);
  background-color: black;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .article-simple p {
    opacity: 0.5;
    color: white;
  }

  &--text {
    opacity: 0.66;
    color: #ffffff;
    font-family: "Exo - Regular";
    font-size: 16px;
    font-weight: 400;
    font-style: "italic";
    letter-spacing: 0.64px;
  }

  &__article {
    h1 {
      margin-top: 10px;
    }
    
    p {
      margin-top: 10px;
    }
  }

  &__logos {
    width: 60%;
    align-self: center;
    margin: 30px;
  }
}

.fifth__section {
  &__mac {
    width: 90%;
    margin: 20px 20px 0;
    align-self: auto;
    margin: 5% 5% 0 5%;
  }
}

.sixth__section {
  background-color: #323969;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--subcapture {
    color: #ff6d6d;
    font-family: $font-exo;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }

  &--capture {
    color: #ffffff;
    font-family: $font-exo;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.6px;
  }
  
  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--item {
      &::placeholder{
        color: rgb(135, 139, 190);
        font-family: $font-exo;
        font-size: 0.6rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.64px;
      }
      
      margin: 5px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ffffff;
      opacity: 0.5;
    }
  }

  &__block {
    &--label {
      position: relative;
      width: 8rem;
      margin-top: 40px;

    }

    &--arrow {
      position: absolute;
      height: 24px;
      top: -115%;
    }

    &--text {
      position: absolute;
      font-size: 0.7rem;
      color: #f6f5f3;
      top: -135%;
      left: 15px;
    }
    
    &--btn {
      width: 100%;
      padding: 5px;
      color: white;
      box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
      border-radius: 3px;
      border: 1px solid #ff6d6d;
      background-color: #ff6d6d;
    }
  }

  &--text {
    margin: 5px;
    height: 17px;
    font-size: 0.5rem;
    opacity: 0.6;
    color: #f6f5f3;
    font-family: $font-exo;
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.64px;
    
    &__policy {
      text-decoration: underline;
    }
  }
  
  &__text {
    margin-bottom: 10px; 
    font-size: 0.4rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  
  ul {
    list-style-type: none;
  }

  &__section {
    max-width: 60%;
    margin-left: 20px;
    margin-top: 10px;

    &__span {
      background-image: url(../imgs/footer-bk-for-span.png);
      color: white;
      background-repeat: round;
    }

    &--icons {
      opacity: 0.4;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }

    p, li {
      opacity: 0.56;
      color: #282828;
      font-family: $font-exo;
      font-size: 0.5rem;
      font-weight: 500;
      letter-spacing: 0.56px;
    }
    
    h1 {
      margin: 5px 0;
      color: #282828;
      font-family: $font-exo;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.88px;
    }
  }

  &__background-rectangle {
    position: absolute;
    z-index: -1;
    bottom: -300px;
    left: -1px;
  }

  &__section__form {
    max-width: 200px;
    
    .sender {
      display: flex;
      justify-content: space-around;
      border-radius: 3px;
      border: 1px solid #4e4e5e;
      background-color: #8d8d8d;
      opacity: 0.4;

      &__input {
        width: 100%;

        &::placeholder {
          text-transform: uppercase;
          padding-left: 20px;
        }
      }

      &--btn {
        padding: 3px;
        background-color: red;
      }
    }
  }
}

@import 'media.scss';